# Ignore node_modules
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore the build output
build/

# Ignore .env files as they usually contain sensitive information
.env

# Ignore IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.orig
*.old
*.tmp
open_api.key
prompt.txt
test_python/
